<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="ControlzEx" version="3.0.2.4" targetFramework="net452" />
  <package id="EntityFramework" version="6.4.4" targetFramework="net452" />
  <package id="MahApps.Metro.IconPacks.Material" version="2.3.0" targetFramework="net452" />
  <package id="MaterialDesignColors" version="2.0.0" targetFramework="net452" />
  <package id="MaterialDesignThemes" version="4.0.0" targetFramework="net452" />
  <package id="Microsoft.Toolkit.Wpf.UI.Controls" version="6.1.2" targetFramework="net452" />
  <package id="Microsoft.Win32.SystemEvents" version="7.0.0" targetFramework="net452" />
</packages>